@import "../../variables.module";

.country-details-wrapper {
  padding: 5rem 3.5rem 0 3.5rem;

  .back {
    // REMOVE DEFAULT BUTTON STYLING
    border: none;
    outline: none;
    font: inherit;
    background: transparent;
    //
    border-radius: 0.2rem;
    height: 3.7rem;
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 8rem;

    .icon-wrapper {
      height: 2rem;
      width: 2rem;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    span {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .flag-wrapper {
    height: 28.4rem;
    width: 100%;
    margin-bottom: 6.2rem;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  h2 {
    font-size: 2.7rem;
  }

  .details {
    margin-top: 4.4rem;
    font-size: 1.6rem;

    p {
      padding-bottom: 2rem;
    }
    span {
      font-weight: 600;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin: 4.2rem 0 2.8rem 0;
    }

    .border {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.2rem;
      padding-bottom: 8rem;

      .border-country {
        height: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.light {
  color: $light-mode-text;

  .back {
    background-color: $light-mode-elements;
    color: $light-mode-text;
    box-shadow: $light-mode-shadow;
  }

  .details .border .border-country {
    background-color: $light-mode-elements;
    color: $light-mode-text;
    box-shadow: $light-mode-shadow;
  }
}

.dark {
  color: $dark-mode-text;

  .back {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
    box-shadow: $dark-mode-shadow;
  }

  .details .border .border-country {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
    box-shadow: $dark-mode-shadow;
  }
}
