@import "./_variables.module.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
}

.light {
  background-color: $light-mode-bg;
  min-height: 100vh;
  min-width: 100vw;
}

.dark {
  background-color: $dark-mode-bg;
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  font-size: 62.5%;
}
